In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime as dt
import seaborn as sns

In [2]:
df = pd.read_excel("ttc-subway-delay-data-2022.xlsx")

In [3]:
df.head()

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Bound,Line,Vehicle
0,2022-01-01,15:59,Saturday,LAWRENCE EAST STATION,SRDP,0,0,N,SRT,3023
1,2022-01-01,02:23,Saturday,SPADINA BD STATION,MUIS,0,0,NaN,BD,0
2,2022-01-01,22:00,Saturday,KENNEDY SRT STATION TO,MRO,0,0,NaN,SRT,0
3,2022-01-01,02:28,Saturday,VAUGHAN MC STATION,MUIS,0,0,NaN,YU,0
4,2022-01-01,02:34,Saturday,EGLINTON STATION,MUATC,0,0,S,YU,5981

In [4]:
df.shape

(8414, 10)

In [5]:
df.isnull().sum().sort_values(ascending = False)

Bound        2215
Line           19
Vehicle         0
Min Gap         0
Min Delay       0
Code            0
Station         0
Day             0
Time            0
Date            0
dtype: int64

In [6]:
df.dtypes

Date         datetime64[ns]
Time                 object
Day                  object
Station              object
Code                 object
Min Delay             int64
Min Gap               int64
Bound                object
Line                 object
Vehicle               int64
dtype: object

In [7]:
df['Vehicle'] = df['Vehicle'].apply(str)

In [9]:
df.dtypes

Date         datetime64[ns]
Time         datetime64[ns]
Day                  object
Station              object
Code                 object
Min Delay             int64
Min Gap               int64
Bound                object
Line                 object
Vehicle              object
dtype: object

In [11]:
df.dtypes

Date         datetime64[ns]
Time                 object
Day                  object
Station              object
Code                 object
Min Delay             int64
Min Gap               int64
Bound                object
Line                 object
Vehicle              object
dtype: object

In [13]:
df.isnull().sum().sort_values(ascending = False)

Bound        2215
Line           19
Vehicle         0
Min Gap         0
Min Delay       0
Code            0
Station         0
Day             0
Time            0
Date            0
dtype: int64

In [15]:
df.Station.value_counts().to_dict()

{'FINCH STATION': 574,
 'EGLINTON STATION': 363,
 'VAUGHAN MC STATION': 352,
 'BLOOR STATION': 285,
 'KENNEDY BD STATION': 243,
 'ST GEORGE YUS STATION': 232,
 'KIPLING STATION': 223,
 'DUNDAS STATION': 187,
 'YONGE BD STATION': 168,
 'UNION STATION': 153,
 'WARDEN STATION': 147,
 'YONGE-UNIVERSITY AND B': 137,
 'WILSON STATION': 136,
 'MCCOWAN STATION': 132,
 'ST CLAIR STATION': 127,
 'SPADINA YUS STATION': 126,
 'SHEPPARD-YONGE STATION': 123,
 'ST CLAIR WEST STATION': 120,
 'WELLESLEY STATION': 119,
 'YORK MILLS STATION': 117,
 'LAWRENCE STATION': 113,
 'YORKDALE STATION': 110,
 'QUEEN STATION': 103,
 'VICTORIA PARK STATION': 102,
 'COLLEGE STATION': 101,
 'KENNEDY SRT STATION': 101,
 'SHEPPARD WEST STATION': 101,
 'HIGHWAY 407 STATION': 98,
 'SPADINA BD STATION': 98,
 'SHEPPARD STATION': 97,
 'ISLINGTON STATION': 95,
 'DON MILLS STATION': 90,
 'ST GEORGE BD STATION': 88,
 'BROADVIEW STATION': 87,
 'DAVISVILLE STATION': 87,
 'SHERBOURNE STATION': 86,
 'PAPE STATION': 84,
 'MAIN STREET STATION': 83,
 'LAWRENCE WEST STATION': 83,
 'COXWELL STATION': 82,
 'KEELE STATION': 81,
 'DUNDAS WEST STATION': 80,
 'DUFFERIN STATION': 79,
 'EGLINTON WEST STATION': 71,
 'KENNEDY SRT STATION TO': 69,
 'OSSINGTON STATION': 69,
 'NORTH YORK CTR STATION': 69,
 'FINCH WEST STATION': 68,
 'KING STATION': 65,
 'ROYAL YORK STATION': 65,
 'LESLIE STATION': 62,
 'GREENWOOD STATION': 59,
 'WOODBINE STATION': 59,
 'DUPONT STATION': 55,
 'BATHURST STATION': 53,
 'ROSEDALE STATION': 53,
 'SCARBOROUGH CTR STATIO': 53,
 'BAYVIEW STATION': 52,
 'CHRISTIE STATION': 52,
 'JANE STATION': 51,
 'DOWNSVIEW PARK STATION': 47,
 'LAWRENCE EAST STATION': 47,
 'GLENCAIRN STATION': 46,
 'ST ANDREW STATION': 46,
 'CHESTER STATION': 46,
 'DONLANDS STATION': 46,
 'MUSEUM STATION': 45,
 'BAY STATION': 45,
 'HIGH PARK STATION': 43,
 'ST PATRICK STATION': 43,
 'PIONEER VILLAGE STATIO': 43,
 'SCARBOROUGH RAPID TRAN': 43,
 'CASTLE FRANK STATION': 42,
 'SUMMERHILL STATION': 41,
 'LANSDOWNE STATION': 38,
 'OSGOODE STATION': 37,
 'BLOOR DANFORTH LINE': 35,
 "QUEEN'S PARK STATION": 35,
 'EGLINTON STATION (MIGR': 34,
 'YORK UNIVERSITY STATIO': 31,
 'RUNNYMEDE STATION': 30,
 'OLD MILL STATION': 26,
 'BESSARION STATION': 24,
 'MIDLAND STATION': 23,
 'YONGE UNIVERSITY LINE': 22,
 'TORONTO TRANSIT COMMIS': 20,
 'ELLESMERE STATION': 18,
 'EGLINTON (MIGRATION)': 16,
 'YONGE-UNIVERSITY SUBWA': 12,
 'YONGE/UNIVERSITY AND B': 11,
 'WILSON YARD': 11,
 'GREENWOOD YARD': 7,
 'LAWRENCE TO ST CLAIR S': 7,
 'UNION STATION TO ST AN': 7,
 'LAWRENCE EAST TO KENNE': 5,
 'YONGE UNIVERSITY SPADI': 5,
 'LINE 3 - SCARBOROUGH R': 4,
 'YONGE-UNIVERSITY/BLOOR': 4,
 'TRANSIT CONTROL CENTRE': 3,
 'DAVISVILLE CARHOUSE': 3,
 "QUEEN'S QUAY - UNION": 3,
 'MCCOWAN YARD': 3,
 'WILSON CARHOUSE': 3,
 'GREENWOOD WYE': 3,
 'UNION STATION TO KING': 3,
 'KEELE YARD': 3,
 'YONGE-UNIVERSITY LINE': 2,
 'DAVISVILLE YARD': 2,
 'WOODBINE TO BROADVIEW': 2,
 'DANFORTH DIVISION': 2,
 'SPADINA STATION': 2,
 'YONGE STATION': 2,
 'FINCH STATION TO EGLIN': 2,
 'BAY LOWER STATION': 2,
 'TRANSIT CONTROL': 2,
 'SCARBOROUGH CENTRE STA': 2,
 'ST CLAIR STATION (APPR': 2,
 'BLOOR DANFORTH SUBWAY': 2,
 'GUNN BUILDING': 2,
 'BROADVIEW TO WOODBINE': 2,
 'MCBRIEN BUILDING': 2,
 'UNION STATION (TO KING': 2,
 'ST CLAIR TO FINCH STAT': 2,
 'UNION STATION TOWARDS': 1,
 'GREENWOOD CARHOUSE': 1,
 'LAWRECNE WEST TO FINCH': 1,
 'UNION STATION(TOWARD K': 1,
 'SYSTEM WIDE': 1,
 'BLOOR-DANFORTH LINE': 1,
 'SHEPPARD-YONGE AND DON': 1,
 'N/B TOWARDS FINCH': 1,
 'KIPLING TO JANE': 1,
 'WILSON TO ST CLAIR STA': 1,
 'BROADVIEW CENTRE TRACK': 1,
 'ST ANDREW STATON': 1,
 'MIGRATION POINT EGLINT': 1,
 'MCCOWAN TO KENNEDY STA': 1,
 'SHEPPARD WEST TO ST CL': 1,
 'YONGE STATION TO GREEN': 1,
 'N/O SUMMERHILL TO S/O': 1,
 'WILSON NORTH HOSTLER': 1,
 'YONGE-UNIVERSITY-SPADI': 1,
 'GREENWOOD PORTAL': 1,
 'KENNEDY SRT STATION LA': 1,
 'COLLEGE TO KING': 1,
 'GLENAYR EMERGENCY EXIT': 1,
 'BAY LOWER': 1,
 'UNION TO KING': 1,
 'YORK MILLS (APPROACHIN': 1,
 'ST. GEORGE STATION': 1,
 'YONGE - UNIVERSITY SUB': 1,
 'VMC TO LAWRENCE': 1,
 'KING TO COLLEGE': 1,
 'LAWRENCE WEST TO FINCH': 1,
 'SHEPPARD LINE': 1,
 'WILSON SOUTH HOSTLER': 1,
 'MCCOWAN CARHOUSE': 1,
 'YONGE-UNIVERSITY SPADI': 1,
 'MUSEUM TO EGLINTON STA': 1,
 'GLENCARIN STATION': 1,
 'VICTORIA PARK TO WARDE': 1,
 'BAYVIEW TO BESSARION': 1,
 'CHESTER CENTRE TRACK': 1,
 'NORTH HOSTLER': 1,
 'EGLINTON PSUDO STATION': 1,
 'WARDEN AND ST CLAIR': 1,
 'SHEPPARD-YONGE LINE 4': 1,
 'TORONTO TRANSIC COMMIS': 1,
 'CLOSURE FINCH TO ST CL': 1,
 'SHEPPARD DISTRUBTION': 1,
 'GUNN BUILDING - 3RD FL': 1,
 'MIDLAND TO SCARBOROUGH': 1,
 'SHEPPARD WEST TO UNION': 1,
 'DUFFERIN AND BLOOR': 1,
 'DOWNVIEW PARK STATION': 1,
 'MAINLINE STORAGE': 1}

In [16]:
df.Code.value_counts().to_dict()

{'SUDP': 871,
 'MUIS': 799,
 'PUOPO': 545,
 'MUPAA': 514,
 'SUO': 390,
 'MUATC': 390,
 'MUIRS': 343,
 'MUO': 328,
 'TUNOA': 320,
 'SUAP': 230,
 'SUUT': 226,
 'MUSC': 207,
 'PUMEL': 184,
 'MUNCA': 167,
 'MUIR': 146,
 'MRO': 145,
 'TUMVS': 131,
 'MUI': 127,
 'MUSAN': 123,
 'TUO': 109,
 'EUSC': 108,
 'SUAE': 103,
 'MUTO': 100,
 'TUSC': 96,
 'TUNIP': 61,
 'MUDD': 58,
 'PUMST': 57,
 'EUDO': 56,
 'MRTO': 53,
 'TUOS': 53,
 'MUIE': 51,
 'PUSTS': 43,
 'SUEAS': 43,
 'MUD': 41,
 'PUSIS': 38,
 'PUTWZ': 37,
 'SUPOL': 36,
 'ERDO': 35,
 'EUNT': 34,
 'ERTC': 33,
 'PUMO': 33,
 'TUST': 29,
 'MUPLB': 27,
 'MUWEA': 27,
 'MRWEA': 26,
 'TUATC': 26,
 'MUNOA': 25,
 'MUPR1': 24,
 'SUROB': 22,
 'TUSUP': 22,
 'PUSSW': 20,
 'ERCD': 20,
 'PUSO': 19,
 'EUBK': 18,
 'PUSTC': 17,
 'EUME': 17,
 'MRUI': 17,
 'TUCC': 17,
 'MUCL': 16,
 'MUWR': 16,
 'SRDP': 15,
 'TRO': 15,
 'MUPLC': 15,
 'TRST': 14,
 'TUML': 14,
 'SUG': 14,
 'SUSA': 13,
 'PREL': 12,
 'MUTD': 12,
 'MRPAA': 12,
 'PUTIS': 12,
 'TUS': 11,
 'PUSI': 11,
 'SRO': 11,
 'ERPR': 11,
 'PUSAC': 11,
 'PUTD': 10,
 'EUBO': 10,
 'EUYRD': 10,
 'EUCD': 10,
 'PUTDN': 9,
 'SUSP': 9,
 'EUVE': 9,
 'SUBT': 9,
 'EUOE': 9,
 'EUO': 9,
 'EUPI': 9,
 'EUTR': 9,
 'PUTOE': 8,
 'PUEO': 8,
 'PUTR': 8,
 'PUTO': 8,
 'TRNCA': 7,
 'EUAC': 7,
 'SRAE': 7,
 'PUSNT': 6,
 'EULV': 6,
 'EUOPO': 6,
 'PUSCR': 6,
 'PUCSS': 5,
 'PUSRA': 5,
 'TUOPO': 5,
 'PUCSC': 4,
 'PUTIJ': 4,
 'EUTRD': 4,
 'PRO': 4,
 'ERRA': 4,
 'TRNOA': 4,
 'MUGD': 4,
 'MRDD': 4,
 'MRCL': 4,
 'PRSL': 4,
 'EUVA': 3,
 'PRSW': 3,
 'ERBO': 3,
 'ERDB': 3,
 'ERCO': 3,
 'TRNIP': 3,
 'EUCA': 3,
 'PRSO': 3,
 'PRS': 3,
 'MRPLB': 3,
 'SREAS': 3,
 'EUTM': 3,
 'MRPLA': 3,
 'TUDOE': 3,
 'SRSA': 2,
 'SRAP': 2,
 'ERAC': 2,
 'EUTL': 2,
 'ERTB': 2,
 'MRIE': 2,
 'EUCO': 2,
 'SRUT': 2,
 'PUTSC': 2,
 'MUPLA': 2,
 'TUKEY': 2,
 'TUNCA': 2,
 'PRST': 2,
 'PUSZC': 2,
 'MRNOA': 2,
 'PUTTC': 2,
 'PUSWZ': 2,
 'MRUIR': 2,
 'MUFM': 2,
 'PUSTP': 1,
 'TUSET': 1,
 'ERO': 1,
 'EUAL': 1,
 'PUTS': 1,
 'PUSBE': 1,
 'MUFS': 1,
 'TRTC': 1,
 'MUEC': 1,
 'MRSAN': 1,
 'PUTTP': 1,
 'MUESA': 1,
 'ERNT': 1,
 'PUTSM': 1,
 'ERLV': 1,
 'EUATC': 1,
 'ERHV': 1,
 'PUEWZ': 1}

In [17]:
df.Line.value_counts().to_dict()

{'YU': 4748,
 'BD': 2620,
 'SRT': 510,
 'SHP': 362,
 'YU/BD': 143,
 'YU / BD': 6,
 'BD/YU': 3,
 'YU/ BD': 1,
 'B/D': 1,
 'Y/BD': 1}

## Encoding of Categorical values

In [ ]:
#we can use one hot

## Working with Dates and Time Series Data
https://www.youtube.com/watch?v=UFuo7EHI8zc

In [ ]:
df.loc[0,'Date'].day_name()#making sure that it is a date object

In [ ]:
#if it is not in datetime format, then df['Date']=pd.to_datetime(df['Date'])

In [ ]:
df['Date'].min()

In [ ]:
df['Date'].max()

In [ ]:
df['Date'].max() - df['Date'].min()

In [ ]:
filt = (df['Date'] >= '2022')
df.loc[filt]

In [ ]:
df.info()

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
df['Time'] = df['Time'].dt.time#extract time only from datetime object

In [ ]:
df.head()

## Visualization
https://www.geeksforgeeks.org/time-series-data-visualization-in-python/

### Relationship with numerical data

In [ ]:
sns.distplot(df['Min Gap']);

In [ ]:
#skewness and kurtosis
print("Skewness: %f" % df['Min Gap'].skew())
print("Kurtosis: %f" % df['Min Gap'].kurt())

In [ ]:
sns.distplot(df['Min Delay']);

In [ ]:
#skewness and kurtosis
print("Skewness: %f" % df['Min Delay'].skew())
print("Kurtosis: %f" % df['Min Delay'].kurt())

In [ ]:
sns.barplot(x = 'Day',y = 'Min Delay',data = df)
plt.show()

In [ ]:
sns.barplot(x = 'Day',y = 'Min Gap',data = df)
plt.show()

In [ ]:
sns.barplot(x = 'Bound',y = 'Min Delay',data = df)
plt.show()

In [ ]:
sns.barplot(x = 'Station',y = 'Min Delay',data = df)
plt.show()

In [ ]:
df['Station'].unique()

In [ ]:
df['Vehicle'].unique()

In [ ]:
df['Date'].unique()

In [ ]:
df['Time'].unique()

In [ ]:
df['Day'].unique()

In [ ]:
df['Code'].unique()

In [ ]:
df['Bound'].unique()

In [ ]:
df['Line'].unique()

In [ ]:
sns.boxplot(data = df, x='Day', y='Min Delay')

In [ ]:
sns.barplot(x = 'Bound',y = 'Min Delay',data = df)
plt.show()

In [ ]:
sns.barplot(x = 'Line',y = 'Min Delay',data = df)
plt.show()

In [ ]:
sns.barplot(x = 'Code',y = 'Min Delay',data = df)
plt.show()

In [ ]:
print(df.loc[:,['Line','Min Delay']])

In [ ]:
df.plot(
   x='Vehicle', 
   y='Min Delay', 
   kind='scatter'
)

plt.show()

In [ ]:
df.plot(
   x='Min Gap', 
   y='Min Delay', 
   kind='scatter'
)

plt.show()

In [ ]:
code_delay = df.loc[:,['Code','Min Delay']]

In [ ]:
code_delay.head()

In [ ]:
cd = code_delay.groupby('Code').mean()

In [ ]:
cd

In [ ]:
print(cd['Min Delay'].sort_values(ascending = False))

In [ ]:
df[df['Code'] == 'MUEC']

In [ ]:
line_delay = df.loc[:,['Line','Min Delay']]

In [ ]:
line_delay.head()

In [ ]:
ld = line_delay.groupby('Line').mean()

In [ ]:
ld

In [ ]:
print(ld['Min Delay'].sort_values(ascending = False))

In [ ]:
station_delay = df.loc[:,['Station','Min Delay']]

In [ ]:
station_delay.head()

In [ ]:
sd = station_delay.groupby('Station').mean()

In [ ]:
sd

In [ ]:
print(sd['Min Delay'].sort_values(ascending = False))

In [ ]:
time_delay = df.loc[:,['Date','Time','Min Delay']]

In [ ]:
time_delay.head()

In [ ]:
td = time_delay.groupby('Date').mean()

In [ ]:
td

In [ ]:
print(td['Min Delay'].sort_values(ascending = False))

In [ ]:
df.Station.value_counts()